/* Contact - No Bootstrap*/
.section{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 24px rgb(19, 37, 69, 0.25);
    padding: 50px;
    width: 80%;
    background-color: #D2E4F5;
    margin: 100px auto;
}

.forms{
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 0 auto;
    
    margin-bottom: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 24px rgb(19, 37, 69, 0.25);
}

.forms-head{
    display: flex;
    justify-content: center;
    margin: 40px auto;
    width: 50%;
    color: var(--primary);

}

.forms-input{
    color: var(--primary);
    padding: 8px;
}

.forms-input label{
    display: block;
    width: 99%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.forms-input input{
    color: var(--primary);
    width: 99%;
}

.forms-input select{
    display: block;
    width: 100%;
}

.checkbox{
    display: flex;
    flex-direction: row;    
}

.checkbox input{
    width: 5%;
    padding: 5px;
    margin: auto;
}

.forms-button{
    display: flex;
    justify-content: flex-end;
}

.forms-button button{
    width:50%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: var(--primary);
}

.contact-pharm{
    display: flex;
    flex-direction: column;
    justify-content:space-between; 
    margin: 0 50px; 
}

.contact-pharm-head{
    
    margin-bottom: 20px;
    font-size: 24px;
}

.find-us{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    margin: 20px;
}

.find-us li{
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-size: 26px;
}

.find-us img{
    margin-right: 20px;
}

.social-media{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 20px;
    
}

.social-media img{
    padding: 20px;    
}

