.col-xl-6{
    margin: 50px 0 !important;
}

.contact-pharm{
    padding: 20px;
}

.forms{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 24px rgb(19, 37, 69, 0.25);
}

.find-us li{
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-size: 26px;
}

.find-us img{
    margin-right: 20px;
}

.social-media img{
    padding: 20px;    
}

.forms-button{
    display: flex;
    justify-content: flex-end;
}

.forms-button button{
    width:30%;
    padding: 10px;   
    border-radius: 10px;
    color: white;
    border: none;
    background-color: var(--primary);
}
