@import url(./index/header.css);
@import url(./index/navigation.css);
@import url(./index/product.css);
@import url(./index/footer.css);
@import url(./index/cupom.css);
@import url(./contato/contact.css);

*{
    margin: 0;
    padding: 0;
}



/*  */

.dark-header{
    color: white !important;
    background-color: black !important

}
.dark-mode{
    color: white !important;
    background-color: rgb( 32,33,36 ) 
}

.dark-nav{
    color: white !important;
    background-color: rgb( 32,33,36 ) ;
    box-shadow: 0px 0px 1px rgb(255, 255, 255);
}

.dark-card{
    color: white !important;
    background-color: #363739 !important
}

.dark-button{
    color: rgb(19, 37, 69)!important;
    background-color: white !important ;
}

.dark-forms{
    box-shadow: 0px 0px 8px rgb(255, 255, 255) !important
}
/*  */



:root {
    --primary: rgb(19, 37, 69);
}
.hideMobile {
    display: none;
}
.carousel, .carousel-item img {
    width: 100%;
}
@media (max-width: 576px) {
    .hideMobile {
        display: block;
        width: 100%;
    }
    .hideDesktop {
        display: none;
    }
    .carousel, .carousel-item img {
        height: 500px;
        object-fit: cover;
    }
}
