*{
    margin: 0;
    padding: 0;
}
:root {
    --primary: rgb(19, 37, 69);
}

header{
    background-color: var(--primary);
    padding: 15px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.example{
    width: 500px;
    height: 40px;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding-left: 150px;
    padding-right: 150px;
}

.example input{
    width: 90%;
    height: 100%;
    border: none;
    border-radius: 10px 0 0 10px;
}

.example button{
    height: 100%;
    width: 10%;
    border: none;
    background-color: #D2E4F5;
    border-radius: 0 10px 10px 0;
}

.my-account{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    margin-left: 150px;
}

.my-account li{
    list-style: none;
    padding: 10px;
}

.menu-h{
    color: black;
    background-color: #D2E4F5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    height: 100%;
    margin-top: 2px;
    box-shadow: 0px 0px 24px rgb(19, 37, 69, 0.5);
}

.menu-h li{
    margin: 10px;
    list-style-type: none;
    text-decoration: none;
}

.menu-h li a{
    text-decoration: none;
    padding: 10px;
   color: black;
}

.menu-h li a:hover {
    background-color:#41608F;
    color: white;
    width: 100%;
    height: 100%;
}

section{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.produto{
    display: block;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0px 0px 24px rgb(19, 37, 69, 0.25);
}


.heart-icon{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}



.descricao-med{
    display: grid;
    color: var(--primary);
    
}

.descricao-med p{
    display: flex;
    justify-content: space-around;
    padding: 7px;
    
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    margin-top: 5px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: var(--primary);
}

.button span{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    right: 8px;

}

/* Contact */
.section{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 24px rgb(19, 37, 69, 0.25);
    padding: 50px;
    width: 80%;
    background-color: #D2E4F5;
    margin: 100px auto;
}

.forms{
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 0 auto;
    
    margin-bottom: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 24px rgb(19, 37, 69, 0.25);
}

.forms-head{
    display: flex;
    justify-content: center;
    margin: 40px auto;
    width: 50%;
    color: var(--primary);

}

.forms-input{
    color: var(--primary);
    padding: 8px;
}

.forms-input label{
    display: block;
    width: 99%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.forms-input input{
    color: var(--primary);
    width: 99%;
}

.forms-input select{
    display: block;
    width: 100%;
}

.checkbox{
    display: flex;
    flex-direction: row;    
}

.checkbox input{
    width: 5%;
    padding: 5px;
    margin: auto;
}

.forms-button{
    display: flex;
    justify-content: flex-end;
}

.forms-button button{
    width:50%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: var(--primary);
}

.contact-pharm{
    display: flex;
    flex-direction: column;
    justify-content:space-between;  
}

.contact-pharm-head{
    
    margin-bottom: 20px;
    font-size: 24px;
}

.find-us{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    margin: 20px;
}

.find-us li{
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-size: 26px;
}

.find-us img{
    margin-right: 20px;
}

.social-media{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 20px;
    
}

.social-media img{
    padding: 20px;    
}

