@import url(./index/header.css);
@import url(./index/navigation.css);
@import url(./index/product.css);
@import url(./index/footer.css);
@import url(./index/cupom.css);
@import url(./contato/contact.css);

*{
    margin: 0;
    padding: 0;
}
:root {
    --primary: rgb(19, 37, 69);
}
.hideMobile {
    display: none;
}
.carousel, .carousel-item img {
    width: 100%;
}
@media (max-width: 576px) {
    .hideMobile {
        display: block;
        width: 100%;
    }
    .hideDesktop {
        display: none;
    }
    .carousel, .carousel-item img {
        height: 500px;
        object-fit: cover;
    }
}
