.login{
    max-width: 50%;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    color:black;
    border-radius: 10px;
    box-shadow: 0px 0px 24px rgb(19, 37, 69, 0.25);
    background-color: white;
}



.login-darkMode{
    display: flex;
    justify-content: end;
    padding: 30px;
}

.login-darkMode img:hover{
    cursor: pointer;
}

.login-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

#exitIcon:hover{
    cursor: pointer;
}

.forms-button-login{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forms-button-login button{
    width:30%;
    padding: 10px;   
    border-radius: 10px;
    color: white;
    border: none;
    background-color: var(--primary);
}

#login-link{
    text-decoration: none;
    color: inherit;
}