.login{
    max-width: 60%;
    width: auto;
    margin: auto;
    margin-top: 100px;
    padding: 30px 30px 20px 30px;
    color:black;
    border-radius: 10px;
    box-shadow: 0px 0px 24px rgb(19, 37, 69, 0.25);
    background-color: white;
}



.login-darkMode{
    display: flex;
    justify-content: end;
    padding: 30px;
}

.login-darkMode img:hover{
    cursor: pointer;
}

.login-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#exitIcon:hover{
    cursor: pointer;
}

.forms-button-login{
    display: block;
    align-items: center;
}

.forms-button-login div{
    display: flex;
    justify-content: end;
    height: 50px;
}

.forms-button-login button{
    max-width:80%;
    width: auto;
    margin: 0px;
    padding: 10px 20px;   
    border-radius: 10px;
    color: white;
    border: none;
    background-color: var(--primary);
}

#login-link{
    text-decoration: none;
    color: inherit;
}

#login-link:hover{
    color: blue;
}